        <p-dialog [(visible)]="editPanierDialog" [style]="{width: '70vw'}"
                header="Panier" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Panier">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Reference<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Reference"
                                                   id="1" [(ngModel)]="selectedPanier.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPanierReference}"  />
                                            <small class='p-error' *ngIf='!validPanierReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Prix total<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Prix total"
                                                    [(ngModel)]="selectedPanier.prixTotal" [ngClass]="{'ng-invalid ng-dirty' : !validPanierPrixTotal}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validPanierPrixTotal'>PrixTotal est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Etat panier<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="etatPaniers" [(ngModel)]="selectedPanier.etatPanierVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat panier" [ngClass]="{'ng-invalid ng-dirty' : !validPanierEtatPanier}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPanierEtatPanier'>EtatPanier est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatPanier('etatPanier')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Panier items">
                                <p-tabView>
                                    <p-tabPanel header="Création">
                                        <div class="p-grid">
                                                            <div class="p-field p-col-11 p-md-3">
                                                                <label>Image<span style="color: red;">*</span></label>
                                                                <p-dropdown [options]="images" [(ngModel)]="selectedPanierItems.imageVo"
                                                                        id="1"  [filter]="true"
                                                                        filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="reference"
                                                                        placeholder="Image"  [ngClass]="{'ng-invalid ng-dirty' : !validPanierItemImage}" 
                                                                >
                                                                </p-dropdown>
                                                                <small class='p-error' *ngIf='!validPanierItemImage'>Image est obligatoire.</small>
                                                            </div>
                                                            <div class="p-col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button"
                                                                        icon="pi pi-plus"   (click)="openCreateimage('image')"
                                                                        class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>

                                                            <div class="p-field p-col-12 p-md-4">
                                                                <label for="3">Prix</label>
                                                                <p-inputNumber class="p-mb-2 p-mr-2" id="prix"
                                                                               placeholder="Prix"  
                                                                        [(ngModel)]="selectedPanierItems.prix"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="p-field p-col-12 p-md-4">
                                                                <label for="4">Reduction</label>
                                                                <p-inputNumber class="p-mb-2 p-mr-2" id="reduction"
                                                                               placeholder="Reduction"  
                                                                        [(ngModel)]="selectedPanierItems.reduction"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="p-field p-col-12 p-md-4">
                                                                <label for="5">Prix apres reduction</label>
                                                                <p-inputNumber class="p-mb-2 p-mr-2" id="prixApresReduction"
                                                                               placeholder="Prix apres reduction"  
                                                                        [(ngModel)]="selectedPanierItems.prixApresReduction"></p-inputNumber>
                                                                
                                                            </div>
                                                <div class="p-field p-col-12 p-md-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                            label="OK" (click)="addPanierItems()">
                                                    </button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste">
                                            <div class="card">
                                                <p-table [value]="selectedPanier.panierItemsVo" [scrollable]="true"
                                                        scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Image</th>
                                                                        <th>Prix</th>
                                                                        <th>Reduction</th>
                                                                        <th>Prix apres reduction</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.imageVo?.reference}}</td>
                                                                        <td>{{p.prix}}</td>

                                                                        <td>{{p.reduction}}</td>

                                                                        <td>{{p.prixApresReduction}}</td>

                                                            <td>
                                                                <button (click)="deletePanierItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-etat-panier-create-admin></app-etat-panier-create-admin>

                            <app-image-create-admin></app-image-create-admin>

    </p-dialog>
