<!--<p>dashboard-admin works!</p>
<div class="card">
    <h5>Vertical</h5>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>-->
<div class="p-grid layout-dashboard">

   <!-- <div class="p-col-12 p-md-6 p-lg-4" >
        <div class="overview-box card">
            <div class="overview-box-value">{{contriNum}}</div>
            <div class="overview-box-title">CONTRIBUTEURS </div>
            <div class="overview-box-status">
                Infos <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>-->
   <!-- <div
            class="p-col-12 p-md-6 p-lg-3">
        <div class="overview-box card">
            <div class="overview-box-value">{{collabNum}}</div>
            <div class="overview-box-title">CLIENTS</div>
            <div class="overview-box-status">
                Infos <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>-->
   <!-- <div class="p-col-12 p-md-6 p-lg-3">
        <div class="overview-box card">
            <div class="overview-box-value">IMAGES</div>
            <div class="overview-box-title">{{imagecount}}</div>
            <div class="overview-box-status">
                Infos <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>-->
    <div class="p-col-12 p-md-6 p-lg-6">
        <div class="timeline card card-w-title">
 <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <br>
        <div class="card" style="background-color: #dcd0ff">
            <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
            <i class="pi pi-image" style="font-size: 30px" aria-hidden="true"></i>
            <div class="container">
                <h1><b>{{imagecount}}</b></h1>
                <h3>IMAGES</h3>
            </div>
        </div>
        <br><br><br>
        <div class="card" style="background-color: #dcd0ff">
            <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
            <i class="pi pi-users"  style="font-size: 30px" aria-hidden="true"></i>
            <div class="container">
                <h1><b>{{contriNum}}</b></h1>
                <h3>CONTRIBUTEURS</h3>
            </div>
        </div>
        <br><br><br>
        <div class="card" style="background-color: #dcd0ff">
            <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
            <i class="pi pi-users" style="font-size: 30px" aria-hidden="true"></i>
            <div class="container">
                <h1><b>{{cltbNum}}</b></h1>
                <h3>CLIENTS</h3>
            </div>
        </div>
    </div>
   <!-- <div class="p-col-12 p-md-6 p-lg-6">
        <div class="timeline card card-w-title">-->
          <!--  <div class="dashbord">
            <div class="icon-section">
                <i class="fa fa-users" aria-hidden="true"></i><br>
                <small>Users</small>
                <p>256</p>
            </div>
            <div class="detail-section">
                <a href="#">More Info </a>
            </div>
            </div>-->

        </div>


