<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateBucket('bucket')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchBucket.nom">
                                    <label for="2">Nom</label>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchBucket.dateCreationMin"
                                    id="3-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="3-1">Date creation Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchBucket.dateCreationMax"
                                    id="3-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="3-2">Date creation Max</label>
                        </span>

                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="4"
                                           type="text"  [(ngModel)]="searchBucket.libelle">
                                    <label for="4">Libelle</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="stateBuckets" [(ngModel)]="searchBucket.stateBucketVo"
                                        id="5"
                                        [filter]="true" [showClear]="true"  placeholder="State bucket"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="contributeurs" [(ngModel)]="searchBucket.contributeurVo"
                                        id="6"
                                        [filter]="true" [showClear]="true"  placeholder="Contributeur"
                                        optionLabel="cin">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="buckets" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['nom', 'dateCreation', 'libelle', 'libelle', 'cin']" [(selection)]="selectedBucket"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Les éléments de {first} à {last} sur {totalRecords}"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des buckets</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Chercher..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>


                                
                                <th pSortableColumn="nom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nom</span>
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateCreation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date creation</span>
                                        <p-sortIcon field="dateCreation"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="libelle">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle</span>
                                        <p-sortIcon field="libelle"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="stateBucket">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>State bucket</span>
                                        <p-sortIcon field="stateBucket"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="contributeur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Contributeur</span>
                                        <p-sortIcon field="contributeur"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bucket>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="bucket"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{bucket.nom}}</td>
                            

                            
                                <td>{{bucket.dateCreation | date:'dd-M-yyyy' }}</td>
                            

                            
                                 <td>{{bucket.libelle}}</td>
                            

                            
                                <td>{{bucket.stateBucketVo?.libelle}}</td>
                            

                            
                                <td>{{bucket.contributeurVo?.cin}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editBucket(bucket)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewBucket(bucket)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteBucket(bucket)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateBucket(bucket)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{buckets ? buckets.length == 1 ? 'y a' : 'y a' : 'y a' }} {{buckets ? buckets.length : 0 }} {{buckets ? buckets.length == 1 ? 'bucket' : 'buckets' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-bucket-create-chercheur></app-bucket-create-chercheur>
        <app-bucket-edit-chercheur></app-bucket-edit-chercheur>
        <app-bucket-view-chercheur></app-bucket-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
