        <p-dialog [(visible)]="createAbonnementDialog" [style]="{width: '70vw'}"
                header="Abonnement" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Abonnement">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Date debut<span style="color: red;">*</span></label>
                                            <p-calendar id="1"
                                                        placeholder="Date debut"  [(ngModel)]="selectedAbonnement.dateDebut"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validAbonnementDateDebut}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validAbonnementDateDebut'>DateDebut est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Date fin<span style="color: red;">*</span></label>
                                            <p-calendar id="2"
                                                        placeholder="Date fin"  [(ngModel)]="selectedAbonnement.dateFin"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validAbonnementDateFin}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validAbonnementDateFin'>DateFin est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Tarif<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Tarif"
                                                    [(ngModel)]="selectedAbonnement.tarif" [ngClass]="{'ng-invalid ng-dirty' : !validAbonnementTarif}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validAbonnementTarif'>Tarif est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="4">Etat abonnement<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="etatAbonnements" [(ngModel)]="selectedAbonnement.etatAbonnementVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat abonnement" [ngClass]="{'ng-invalid ng-dirty' : !validAbonnementEtatAbonnement}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validAbonnementEtatAbonnement'>EtatAbonnement est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatAbonnement('etatAbonnement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Reduction<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Reduction"
                                                    [(ngModel)]="selectedAbonnement.reduction" [ngClass]="{'ng-invalid ng-dirty' : !validAbonnementReduction}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validAbonnementReduction'>Reduction est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="6">Client</label>
                                            <p-dropdown [options]="clients" [(ngModel)]="selectedAbonnement.clientVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="numeroMatricule"
                                                    placeholder="Client"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateclient('client')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="7">Pack abonnement</label>
                                            <p-dropdown [options]="packAbonnements" [(ngModel)]="selectedAbonnement.packAbonnementVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="nombreImageMax"
                                                    placeholder="Pack abonnement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepackAbonnement('packAbonnement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-etat-abonnement-create-client></app-etat-abonnement-create-client>
                    <app-client-create-client></app-client-create-client>
                    <app-pack-abonnement-create-client></app-pack-abonnement-create-client>


    </p-dialog>
