
<p-dialog [(visible)]="viewCategorieItemDialog" [style]="{width: '70vw'}"
        header="Categorie item" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Categorie item">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Image</label>
                                    <p-dropdown [options]="images" [(ngModel)]="selectedCategorieItem.imageVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="reference"
                                            placeholder="Image">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Categorie image</label>
                                    <p-dropdown [options]="categorieImages" [(ngModel)]="selectedCategorieItem.categorieImageVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Categorie image">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-image-create-contributeur></app-image-create-contributeur>
            <app-categorie-image-create-contributeur></app-categorie-image-create-contributeur>



</p-dialog>



