
<p-dialog [(visible)]="viewAbonnementDialog" [style]="{width: '70vw'}"
        header="Abonnement" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Abonnement">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Date debut</label>
                                    <p-calendar id="1" [disabled]="true"
                                                placeholder="Date debut"  [(ngModel)]="selectedAbonnement.dateDebut"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Date fin</label>
                                    <p-calendar id="2" [disabled]="true"
                                                placeholder="Date fin"  [(ngModel)]="selectedAbonnement.dateFin"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Tarif</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="3" [disabled]="true"
                                                   placeholder="Tarif"  [(ngModel)]="selectedAbonnement.tarif"
                                            [(ngModel)]="selectedAbonnement.tarif"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Etat abonnement</label>
                                    <p-dropdown [options]="etatAbonnements" [(ngModel)]="selectedAbonnement.etatAbonnementVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat abonnement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Reduction</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Reduction"  [(ngModel)]="selectedAbonnement.reduction"
                                            [(ngModel)]="selectedAbonnement.reduction"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="6">Client</label>
                                    <p-dropdown [options]="clients" [(ngModel)]="selectedAbonnement.clientVo"
                                            id="6" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Client">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="7">Pack abonnement</label>
                                    <p-dropdown [options]="packAbonnements" [(ngModel)]="selectedAbonnement.packAbonnementVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="nombreImageMax"
                                            placeholder="Pack abonnement">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-etat-abonnement-create-admin></app-etat-abonnement-create-admin>
            <app-client-create-admin></app-client-create-admin>
            <app-pack-abonnement-create-admin></app-pack-abonnement-create-admin>



</p-dialog>



