<!--<div class="login-body">
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <div class="p-grid" [formGroup]="loginForm">
                <div class="p-col-12 p-sm-6 p-md-6 logo-container">
                  <img src="../../../assets/layout/images/logo-roma.svg" />
                    <span class="guest-sign-in">Welcome, please use the form to sign-in </span>
                </div>

                <div class="p-col-12 username-container">

                    <label>Username</label>
                    <div class="login-input">
                        <input class="p-mb-2 p-mr-2" type="text" pInputText formControlName="username" id="1" required
                            autofocus />
                    </div>

                </div>
                <div class="p-col-12 password-container">

                    <label>Password</label>
                    <div class="login-input">
                        <input pPassword type="password" [feedback]="false" formControlName="password" />
                    </div>

                </div>
                <div class="p-col-12 p-sm-6 p-md-6 rememberme-container">
                </div>

                <div class="p-col-6 p-md-12">
                    <button pButton type="button" icon="pi pi-check" label="Sign In" (click)="submit()"></button>
                </div>
                <div class="p-col-6 p-md-12">
                    <button pButton type="button" icon="pi pi-check" class="p-button p-button-success" label="Register" (click)="register()"></button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TU CARTERA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-primary py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
             <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                  <div class="d-inline-flex align-items-center">
                      <a class="text-white pr-3" href="">FAQs</a>
                      <span class="text-white">|</span>
                      <a class="text-white px-3" href="">Help</a>
                      <span class="text-white">|</span>
                      <a class="text-white pl-3" href="">Support</a>
                  </div>
              </div>-->
<!--   <div class="col-md-6 text-center text-lg-right">
       <div class="d-inline-flex align-items-center">
           <a class="text-white px-3" href="">
               <i class="fab fa-facebook-f"></i>
           </a>
           <a class="text-white px-3" href="">
               <i class="fab fa-twitter"></i>
           </a>
           <a class="text-white px-3" href="">
               <i class="fab fa-linkedin-in"></i>
           </a>
           <a class="text-white px-3" href="">
               <i class="fab fa-instagram"></i>
           </a>
           <a class="text-white pl-3" href="">
               <i class="fab fa-youtube"></i>
           </a>
       </div>
   </div>-->
<!--  </div>
</div>
</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <a href="index.html" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary" >TU</span>CARTERA</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <!-- <a href="index.html" class="nav-item nav-link active">Home</a>
                     <a href="about.html" class="nav-item nav-link">About</a>
                     <a href="product.html" class="nav-item nav-link">Product</a>-->
                </div>
<!--                <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">-->
                    <h1 class="m-0 display-4 text-primary" style="font-family: Gabriola"><span class="text-secondary" >TU</span>CARTERA</h1>
<!--                </a>-->
                <div class="navbar-nav mr-auto py-0">
                    <!--  <a href="service.html" class="nav-item nav-link">Service</a>
                      <a href="gallery.html" class="nav-item nav-link">Gallery</a>
                      <a href="contact.html" class="nav-item nav-link">Contact</a>-->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div id="
    header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/images/trouge.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
<!--                        <h4 class="text-white text-uppercase mb-md-3">TU CARTERA</h4>-->
                        <h1 class="display-3 text-white mb-md-4" style="font-family: Copperplate Gothic Light; font-size: 50px;margin-left: 60px">Commencez à gagner avec <br> vos photos, illustrations et
                            images</h1>
                        <button class="btn btn-primary py-md-3 px-md-5 mt-2" (click)="openPopup()" style="margin-left: 60px">DEVENIR
                            CONTRIBUTEUR
                        </button>
                        <div
                                class="modal"
                                tabindex="-1"
                                role="dialog"
                                [ngStyle]="{'display':displayStyle}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background: black">
                                        <h4 class="modal-title" style="font-weight: bold;color:brown ">Se connecter</h4>
                                    </div>
                                    <div class="modal-body" style="background: black">
                                        <div class="login-panel-content">
                                            <div class="p-grid" [formGroup]="loginForm">
                                                <div class="p-col-12 p-sm-6 p-md-6 logo-container">

                                                    <span class="guest-sign-in" style="font-weight: bold">Bienvenue, veuillez utiliser le formulaire pour vous connecter </span>
                                                </div>

                                                <div class="p-col-12 username-container">

                                                    <label>Nom d'utilisateur</label>
                                                    <div class="login-input">
                                                        <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                               formControlName="username" id="1" required
                                                               autofocus/>
                                                    </div>

                                                </div>
                                                <div class="p-col-12 password-container">

                                                    <label>Mot de passe</label>
                                                    <div class="login-input">
                                                        <input pPassword type="password" [feedback]="false"
                                                               formControlName="password"/>
                                                    </div>

                                                </div>
                                                <div class="p-col-12 p-sm-6 p-md-6 rememberme-container">
                                                </div>

                                                <div class="p-col-6 p-md-12">
                                                    <!--<button pButton type="button" icon="pi pi-check" label="Se connecter"
                                                            class="p-button p-button-warning" (click)="submit()"></button>-->
                                                    <button class="ptmy" (click)="submit()" style="border-radius: 100px"> Se connecter
                                                    </button>
                                                </div>
                                                <div class="p-col-6 p-md-12">
                                                    <!-- <button pButton type="button" icon="pi pi-check"
                                                             class="p-button p-button-warning"
                                                             label="S'inscrire" (click)="register()"></button>-->
                                                    <button class="up" (click)="register()" style="border-radius: 100px"> "S'inscrire"
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer" style="background: black">
                                        <button type="button" class="btn btn-danger"
                                                (click)="closePopup()">
                                            Fermer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="carousel-item">
    <img class="w-100" src="assets/images/fatiha.jpg" alt="Image">
    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
            <h1 class="display-3 text-white mb-md-4">Made From Our Own Organic Milk</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
        </div>
    </div>
</div>-->

<!--<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n1"></span>
    </div>
</a>
<a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n1"></span>
    </div>
</a>-->

<!-- Carousel End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Comment devenir contributeur ?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">La procédure d'intégration </h4>
                <h5 class="text-muted mb-3">Veuillez accéder à la page d'inscription et remplir le formulaire.
                    <br> Après , Veuillez consulter votre boite d'email où vous allez recevoir un contrat de
                    collaboration .</h5>
                <!--<p>Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet amet no. Est nonumy sed labore eirmod sit magna. Erat at est justo sit ut. Labor diam sed ipsum et eirmod</p>
                <a href="" class="btn btn-secondary mt-2">Learn More</a>-->
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="assets/images/Photoshoot.png"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <!-- <h4 class="font-weight-bold mb-3">Our Features</h4>-->
                <!--  <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>-->
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Créez des photos, des
                    vecteurs, des illustrations, des maquettes, etc.<br> Nous embrassons tous les types de créativité.
                </h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Téléchargez vos ressources
                    graphiques sur TU CARTERA grâce à notre outil intuitif et facile à utiliser.</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i> Gagnez de l'argent pour
                    chaque téléchargement obtenu par vos ressources.1</h5>
                <!-- <a href="" class="btn btn-primary mt-2">Learn More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Promotion Start -->
<!--<div class="container-fluid my-5 py-5 px-0">
    <div class="row bg-primary m-0">
        <div class="col-md-6 px-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="img/promotion.jpg" style="object-fit: cover;">
                <button type="button" class="btn-play" data-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 py-5 py-md-0 px-0">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                <div class="d-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                     style="width: 100px; height: 100px;">
                    <h3 class="font-weight-bold text-secondary mb-0">$199</h3>
                </div>
                <h3 class="font-weight-bold text-white mt-3 mb-4">Chocolate Ice Cream</h3>
                <p class="text-white mb-4">Lorem justo clita dolor ipsum ut sed eos, ipsum et dolor kasd sit ea
                    justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum</p>
                <a href="" class="btn btn-secondary py-3 px-5 mt-2">Order Now</a>
            </div>
        </div>
    </div>
</div>-->
<!-- Promotion End -->


<!-- Video Modal Start -->
<!--<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
             allow="autoplay"></iframe>
 </div>
</div>
</div>
</div>
</div>-->
<!-- Video Modal End -->


<!-- Services Start -->
<div class="container-fluid py-5" style="background-color: #757575">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Pourquoi TU CARTERA ?</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="assets/images/world.png"
                                 style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">COMMUNAUTE</h5>
                            <p class="texte">TU CARTERA offre un accès à votre travail à des millions de clients.
                                Découvrez vos contenus partout dans le monde, même dans des panneaux d’affichage ou des
                                films.</p>
                            <!--  <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn More</a>-->
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="assets/images/creativity.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">CRÉATIFS</h5>
                            <p class="texte">TU CARTERA est l'occasion pour les contributeurs de faire découvrir <br>
                                leurs œuvres
                                et leur créativité sans limites.Restez motivé et inspiré .</p>
                            <!--  <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                  More</a>-->
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="assets/images/TUTORIA.png"
                                 style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">IMPACT</h5>
                            <p class="texte">Aidez les marques et les entreprises à raconter des histoires inspirantes
                                avec
                                des visuels authentiques et inclusifs.</p>
                            <!-- <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                 More</a>-->
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="assets/images/phone2.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">SIMPLICITÉ</h5>
                            <p class="texte">Vous n'avez pas besoin d'équipement sophistiqué pour commencer à contribuer
                                à TU CARTERA.
                                Soumettre une photo peut être aussi simple que de prendre votre téléphone et de
                                prendre quelques photos.</p>
                            <!-- <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                 More</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Portfolio Start -->
<div class="container-fluid my-5 py-5 px-0">
    <div class="row justify-content-center m-0">
        <div class="col-lg-5">
            <h1 class="section-title position-relative text-center mb-5">Portfolio
            </h1>
        </div>
    </div>
    <div class="row m-0 portfolio-container">
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="assets/images/ana.png" alt="">
                <a class="portfolio-btn" href="assets/images/ana.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="assets/images/phone.jpg" alt="">
                <a class="portfolio-btn" href="assets/images/phone.jpg" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="assets/images/imanee.jpg" alt="">
                <a class="portfolio-btn" href="assets/images/imanee.jpg" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <!--  <div class="col-lg-4 col-md-6 p-0 portfolio-item">
               <div class="position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="assets/images/portfolio2.png" alt="">
                   <a class="portfolio-btn" href="assets/images/portfolio2.png" data-lightbox="portfolio">
                       <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                   </a>
               </div>
           </div>
           <div class="col-lg-4 col-md-6 p-0 portfolio-item">
               <div class="position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="assets/images/portfolio2.png" alt="">
                   <a class="portfolio-btn" href="assets/images/portfolio2.png" data-lightbox="portfolio">
                       <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                   </a>
               </div>
           </div>
           <div class="col-lg-4 col-md-6 p-0 portfolio-item">
               <div class="position-relative overflow-hidden">
                   <img class="img-fluid w-100" src="assets/images/portfolio4.jfif" alt="">
                   <a class="portfolio-btn" href="assets/images/portfolio4.jfif" data-lightbox="portfolio">
                       <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                   </a>
               </div>
           </div>-->
    </div>
</div>
<!-- Portfolio End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Qui peut devenir contributeur</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel product-carousel">
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <!-- <h4 class="font-weight-bold text-white mb-0">$99</h4>-->
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3"
                             style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="assets/images/photographiPro.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4 texte1">PHOTOGRAPHES PROFESSIONNELS</h5>
                        <!--  <a href="" class="btn btn-sm btn-secondary">Order Now</a>-->
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <!--  <h4 class="font-weight-bold text-white mb-0">$99</h4>-->
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3"
                             style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="assets/images/amteuuuuuur.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4 texte1">PHOTOGRAPHES AMATEURS ET DÉBUTANTS</h5>
                        <!-- <a href="" class="btn btn-sm btn-secondary">Order Now</a>-->
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <!--  <h4 class="font-weight-bold text-white mb-0">$99</h4>-->
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3"
                             style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="assets/images/graphique.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4 texte1">DESIGNERS</h5>
                        <!-- <a href="" class="btn btn-sm btn-secondary">Order Now</a>-->
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <!--   <h4 class="font-weight-bold text-white mb-0">$99</h4>-->
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3"
                             style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="assets/images/illustration.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4 texte1">ILLUSTRATEURS </h5>
                        <!--   <a href="" class="btn btn-sm btn-secondary">Order Now</a>-->
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <!-- <h4 class="font-weight-bold text-white mb-0">$99</h4>-->
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3"
                             style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="assets/images/autreArt.jpg"
                                 style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4 texte1">AUTRES ARTISTES NUMÉRIQUES</h5>
                        <!-- <a href="" class="btn btn-sm btn-secondary">Order Now</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->


<!-- Team Start -->
<!--<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Experienced & Most Famous Ice Cream Chefs</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5"
                             style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5"
                             style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5"
                             style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5"
                             style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Full Name</h3>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Team End -->


<!-- Testimonial Start -->

<!-- Testimonial End -->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5" id="contact" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="section-title position-relative text-center">
            <h1 class="font-secondary display-3 text-white">Merci</h1>
            <i class="far fa-heart text-white"></i>
        </div>
        <p style="color: white; font-weight: bold; font-size: 20px; font-family: MV Boli">Pour plus d'information , veuillez nous contacter .</p> <br>
        <dl class="contact-list">

            <dd style="color: white; font-weight: bold ; font-size: 18px; font-family: MV Boli">Maroc , Marrakech </dd>
            <br>
        </dl>
        <dl class="contact-list">

            <dd><a href="mailto:#" style="color: white; font-weight: bold; font-size: 18px; font-family: MV Boli">tu.cartera@gmail.com</a></dd>
            <br>
        </dl>
        <dl class="contact-list">

            <dd><a href="tel:#" style="color: white; font-weight: bold; font-size: 18px; font-family: MV Boli">05 65 92 35 86</a> <br>
            </dd>
        </dl>
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<!--            <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>-->
        </div>


    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>
