
<p-dialog [(visible)]="viewClientDialog" [style]="{width: '70vw'}"
        header="Client" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Client">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Numero matricule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Numero matricule"  [(ngModel)]="selectedClient.numeroMatricule"
                                           id="1" [(ngModel)]="selectedClient.numeroMatricule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Email principale</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Email principale"  [(ngModel)]="selectedClient.emailPrincipale"
                                           id="2" [(ngModel)]="selectedClient.emailPrincipale"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Resume</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30"
                                              placeholder="Resume"  [(ngModel)]="selectedClient.resume"
                                    ></textarea>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="4">Credentials non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="selectedClient.credentialsNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="5">Enabled</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="selectedClient.enabled"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="6">Account non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="selectedClient.accountNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="7">Account non locked</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="7"  [disabled]="true" [(ngModel)]="selectedClient.accountNonLocked"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Password changed</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedClient.passwordChanged"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Created at</label>
                                    <p-calendar id="9" [disabled]="true"
                                                placeholder="Created at"  [(ngModel)]="selectedClient.createdAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Updated at</label>
                                    <p-calendar id="10" [disabled]="true"
                                                placeholder="Updated at"  [(ngModel)]="selectedClient.updatedAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="11">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedClient.username"
                                           id="11" [(ngModel)]="selectedClient.username"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="12">Password</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Password"  [(ngModel)]="selectedClient.password"
                                           id="12" [(ngModel)]="selectedClient.password"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedClient.prenom"
                                           id="13" [(ngModel)]="selectedClient.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="14">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedClient.nom"
                                           id="14" [(ngModel)]="selectedClient.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="15">Equivalence avec panel erc</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Equivalence avec panel erc"  [(ngModel)]="selectedClient.equivalenceAvecPanelErc"
                                           id="15" [(ngModel)]="selectedClient.equivalenceAvecPanelErc"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="16">Base horizon</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Base horizon"  [(ngModel)]="selectedClient.baseHorizon"
                                           id="16" [(ngModel)]="selectedClient.baseHorizon"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="18">Numero de tel</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Numero de tel"  [(ngModel)]="selectedClient.numeroDeTel"
                                           id="18" [(ngModel)]="selectedClient.numeroDeTel"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="20">Code postal</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code postal"  [(ngModel)]="selectedClient.codePostal"
                                           id="20" [(ngModel)]="selectedClient.codePostal"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="21">Rib</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Rib"  [(ngModel)]="selectedClient.rib"
                                           id="21" [(ngModel)]="selectedClient.rib"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>
                    <p-tabPanel header="Images">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedClient.imagesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Reference</th>
                                                            <th>Prix</th>
                                                            <th>Description</th>
                                                            <th>Extension</th>
                                                            <th>Taille</th>
                                                            <th>Resolution</th>
                                                            <th>Bucket</th>
                                                            <th>Type image</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.reference}}</td>

                                                            <td>{{p.prix}}</td>

                                                            <td>{{p.description}}</td>

                                                            <td>{{p.extension}}</td>

                                                            <td>{{p.taille}}</td>

                                                            <td>{{p.resolution}}</td>

                                                        <td>{{p.bucketVo?.libelle}}</td>
                                                        <td>{{p.typeImageVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>


                    <app-bucket-create-admin></app-bucket-create-admin>
                    <app-type-image-create-admin></app-type-image-create-admin>


</p-dialog>



